body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1360px;
  margin: 0 auto;
  background-image: url(img/background\ 1.png);
}

.content {
  max-width: 1030px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo {
  padding-right: 10px;
}

.name-company {
  font-weight: bold;
  font-size: 29px;
  flex-wrap: wrap;
  display: flex;
  line-height: 37px;
  max-width: 105px;
}

.name-company span {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.contacts {
  text-align: end;
  display: grid;
  font-size: 18px;
  line-height: 18px;
}

.contacts :first-child {
  margin-bottom: 20px;
}

.contacts a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.tour {
  margin-bottom: 40px;
  text-decoration: none;
}

.tour p {
  color: white;
  margin: 0;
  padding-top: 15px;
}

.price {
  position: absolute;
  bottom: -55px;
  background: #F26522;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
}

.tour :hover .price  {
  bottom: 0;
  transition: all 1s;
}

.tour:hover .tour-descr {
  color: #F26522 !important;
}

.logo {
  background-image: url("img/logo.png");
  width: 57px;
  height: 47px;
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url("img/logoHover.png");
}

.tour-img {
  position: relative;
  overflow: hidden;
}

.prise-from {
  position: absolute;
  margin-left: 15px;
  height: 100%;
  width: 50%;
}

.prise-from span {
  margin-top: 7px;
  color: white;
  position: absolute;
  left: 0;
  font-size: 10px;
  line-height: 10px;
}

.prise-from p {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  line-height: 20px;
}

.prise-desc {
  position: absolute;
  bottom: 10px;
  right: 15px
}

.prise-desc::after{
  content: ">";
  padding-left: 15px;
}

.copy {
  color: white;
  font-size: 12px;
  line-height: 12px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

.email:hover {
  color: #F26522 !important;
}

.tel:hover {
  color: #F26522 !important;
}

.header-logo :hover {
  color: #F26522;
}